extends ../../layout.pug

block content
    section.section
        .container
            .level
                .level-left
                    h2.title.is-3 Create Wallet
            hr
            .hero-body
                .container.has-text-centered
                    .columns
                        .column.is-half.is-offset-one-quarter
                            form.form(action='/operator/wallets', method='post')
                                .field
                                    .control.has-icons-left.has-icons-right
                                        input.input.is-large(id='password', type='password', name='password', placeholder='Strong Password')
                                .field
                                    p.control
                                        button.button.is-success(type='submit')
                                            | Submit

                
                


