extends ../views/layout.pug

block content
    section.section
        .container
            .level
                .level-left
                    h2.title.is-3 Transaction
            hr
            .hero-body
                .container.has-text-centered
                    .columns
                        .column.is-half.is-offset-one-quarter
                            form.form(action= walletid, method='post')
                                .field
                                    .control.has-icons-left.has-icons-right
                                        input.input.is-large(id='fromAddress', type='text', name='fromAddress', placeholder='Your Wallet Id')
                                .field
                                    .control.has-icons-left.has-icons-right
                                        input.input.is-large(id='address', type='text', name='address', placeholder='Your Public Key Id')
                                .field
                                    .control.has-icons-left.has-icons-right
                                        input.input.is-large(id='password', type='password', name='password', placeholder='Your Private Key - Password')
                                .field
                                    p.control
                                        button.button.is-success(type='submit')
                                            | Log-in